body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f4f4f4;
    padding: 10px 20px;
  }
  
  header .logo {
    font-size: 24px;
    font-weight: bold;
  }
  
  .product p {
    margin: 5px 0;
    font-size: 14px;
    color: #555;
  }

  .product img {
    width: 100%; /* Изображение заполняет всю ширину карточки */
    /* height: 150px; Фиксированная высота */
    object-fit: cover; /* Картинка адаптируется, сохраняя пропорции */
    border-radius: 8px 8px 0 0; /* Закругление верхних углов */
    margin-bottom: 10px;
  }

  header nav a {
    margin: 0 10px;
    text-decoration: none;
    color: #333;
  }
  
  .slider {
    position: relative;
    width: 80%;
    margin: 20px auto;
    overflow: hidden;
  }
  
  .slide {
    display: none;
    text-align: center;
  }
  
  .slide.active {
    display: block;
  }
  
  button.prev,
  button.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  button.prev {
    left: 10px;
  }
  
  button.next {
    right: 10px;
  }
  
  button:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  

  
  .products {
    display: flex;
    justify-content: space-around;
    margin: 20px;
  }
  
  .product {
    text-align: center;
    width: 200px; /* Ширина карточки */
    height: 300px; /* Высота карточки */
    border: 1px solid #ccc; /* Граница */
    border-radius: 8px; /* Закругление углов */
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Тень */
    background-color: #fff; /* Фон */
    transition: transform 0.3s; /* Анимация */
  }
  
  .product:hover {
    transform: scale(1.05); /* Увеличение при наведении */
  }
  
  footer {
    margin-top: 50px; /* Отступ сверху, чтобы футер был ниже */
    padding: 20px 0;
    background-color: #f4f4f4;
    text-align: center;
  }
  
  .social-icons {
    display: flex;
    justify-content: center;
    gap: 20px; /* Расстояние между иконками */
  }
  
  .social-icons a img {
    width: 30px; /* Размер иконок */
    height: 30px;
    transition: transform 0.3s; /* Анимация при наведении */
  }
  
  .social-icons a img:hover {
    transform: scale(1.2); /* Увеличение при наведении */
  }