.sssd1 {
  z-index: 2;
}

.container {
    display: flex;
    align-items: center; /* Центрирование по вертикали */
    justify-content: center; /* Центрирование по горизонтали */
    position: relative; /* Для корректного наложения */
  }
  

  .box1 {
margin-left: 20px;
margin-right: 20px;
width: 40%;
height: 1200px;
background: rgba(58, 51, 51, 0.62);
z-index: 0; /* Нижний слой */
  }
  
  .box2 {
    width: 60%;
    /* height: 700px; */
    height: auto;
    background-color: rgb(22, 22, 22); /* Полупрозрачный верхний слой */
    position: relative; /* Для корректного наложения */
    z-index: 2; /* Верхний слой */
    margin-left: -50%; 
    padding-bottom: 50px;
  }

  .box2_header {
    background-color: rgba(204, 91, 38, 0.993);
    height: 60px;
  }

  .box2_inner_logo {
    width: 190px;
    height: 100px;
    background-color:rgba(165, 81, 42, 0.616);
    margin: 20px;
    border-style: solid;
    border-color: rgb(165, 81, 42);
  }



  .box2_inner1 {
    display: flex;
    flex-direction: row;
  }

  .box2_inner_loginfo h1 {
    color: aliceblue;
    font-size: 50px;
    font-weight: 800;

    
  }

  .box2_inner_loginfo p {
    color:azure;
    font-size: 20px;
    font-weight: 500;
    margin-right: 20px;
    margin-left: 30px;
    
    }

  .one {
    background-color: rgba(204, 91, 38, 0.774);
    border-radius: 10px;
  }

    .box2_inner {
      margin-left: 30px;
      color: aliceblue;
      padding-right: 30px;
      
}

    .box2_inner p {
      color: azure;
      font-weight: 500;
      background-color: rgba(165, 81, 42, 0.418);
      padding-left: 10px;
      padding-bottom: 10px;
      }

    .box2_inner h1 {
        color: azure;
        font-weight: 500;
        background-color: rgba(165, 81, 42, 0.418);
        padding-left: 10px;
        margin-bottom: -10PX;
      }




    .box_inner_loginfo h2 {
      color: rgba(240, 248, 255, 0.788);
      font-size: 20px;
      font-weight: 800;
      margin-right: 20px;
      margin-left: 20px;
      }

  .box2_inner_conteiners {
    width: 1100px;
    display: flex;
    flex-direction:row;
    margin-left: 70px;
    /* margin-top: 20px; */
  }

  .box2_inner_conteiners_one {
    width: 150px;
    height: 50px;
    background-color: rgb(165, 81, 42);
    margin: 10px;
    color: azure;
   
    border-radius:10px;

    display: flex;
    justify-content: center; /* Горизонтальное выравнивание */
    align-items: center; /* Вертикальное выравнивание */
    
  }

  .box2_inner_conteiners_twoo {
    width: 300px;
    height: 50px;
    background-color: rgb(165, 81, 42);
    margin: 10px;
    display: flex;
    flex-direction:row;
    justify-content: space-around;
    margin-left: 50px;
    color: azure;
    align-items: center;
    padding-left: 40px;
    padding-right: 20px;
  }

  .box2_inner_conteiners_tree {
    width: 200px;
    height: 50px;
    background-color: rgb(165, 81, 42);
    margin: 10px;
    color: azure;
    text-align: center;
    align-items: center;
  }

  .box2_inner_conteiners_four {
    width: 200px;
    height: 50px;
    background-color: rgb(165, 81, 42);
    margin: 10px;
    display: flex;
    flex-direction:row;
    justify-content: space-around;
    align-items: center;
    color: azure;
    
  }


  .box2_inner_conteiners2 {
    display: flex;
    flex-direction: row;
    margin-left: 20px;
  }


  .box2_inner_conteiners_five {
    width: 200px;
    height: 50px;
    background-color: rgb(165, 81, 42);
    margin: 10px;
  }

  .box2_inner_conteiners_six {
    width: 300px;
    height: 50px;
    background-color: rgb(165, 81, 42);
    margin: 10px;
    margin-left: 150px;
  }

  .box2_inner_conteiners_seven {
    width: 200px;
    height: 50px;
    background-color: rgb(165, 81, 42);
    margin: 10px;
  }

  .box2_inner_conteiners_eight {
    width: 200px;
    height: 50px;
    background-color: rgb(165, 81, 42);
    margin: 10px;
  }

  .box2_inner_conteiners_four_logo {
    background-image: url('./Main_Content/r3.png');
    background-position: center;
    background-size: cover;
    width: 30px;
    height: 30px;
  }

  .box2_inner_conteiners_twoo_logo {
    background-image: url('Main_Content/Settings.png');
    background-position: center;
    background-size: cover;
    width: 30px;
    height: 30px;
  }

  .cifres {
    margin-top: 40px;
  }