 
.download_logo {
  background-image: url('Main_Content/Nintendo_switch_logo.png');
  background-position: center;
  background-size: cover;
  width: 63px;
height: 54.54px;
margin: 4px;
}

.download_container  {
  margin: 20px;
  margin-top: 50px;
width: 372px;
height: 770px;
background: linear-gradient(29.17deg, #0A1B23 37.61%, #077F64 97.65%);

/* Fonts */
font-family: 'Nintendo';
font-style: normal;
font-size: 15px;
font-weight: 500;
color: #FFF5F5;
}

.download_container_container {
  display: flex;
  flex-direction: column; /* Элементы располагаются вертикально */
  align-items: center; /* Центрирование по горизонтали */
  justify-content: center; /* Центрирование по вертикали */
}

.download_head {
    display: flex;
width: 100%;
height: 62.48px;
background: #C02E2E;
}

.download_text {
  text-align: center;
  padding: 20px;
  font-size: 20px;
}


.download_image {
width: 325px;
height: 196px;
margin: 20px;
background: url("Main_Content/The-Legend-of-Zelda-Tears-of-The-Kingdom-versao-fisica-Brasil.jpg") no-repeat center / cover;
}

.download_button {
display: flex;
align-items: center;
justify-content: center;
text-decoration: none;
font-size: 20px;
color: azure;

width: 234px;
height: 52.4px;
background: #068866;
border: 2px solid #EEEEEE;
border-radius: 10px;
}


.download_list {
 margin: 50px;
}
 
