@media (max-width: 700px) {
  header {
    display:contents;
  }

  nav {
    margin-right: 0%;
    margin-left: 30%;
    margin-top: 90px;
  }

  nav a {
    
    margin-left: 10px;
    text-decoration: none;
    color: white;
    
  }
}


@media (max-width: 550px) {
 
    .switch {
        font-size: 70px;
    }


    .midle_nintendo_1 {
        width: 300px;
        height: 159px;
        margin-bottom: 10px;
    }

    .midle_nintendo_2 {
        width: 300px;
        height: 159px;
        margin-bottom: 10px;
    }

    .midle_nintendo_3 {
        width: 300px;
        height: 159px;
        margin-bottom: 10px;
    }

   

      .review1 {
        width: 330px;
        height: 100px;
        border: 1px solid #D0A4A4;
        margin-left: 0px;
        margin-bottom: 20px;
        color: azure;
        }
        
        .review2 {  
        width: 300px;
        height: 100px;
        border: 1px solid #D0A4A4;
        margin-left: 0px;
        color: azure;
        }

    .price {
        margin: 90px;
        margin-top: 50px;
        /* box-sizing: border-box; */
        width: 450px;
        /* height: 1021px; */
        /* border: 6px solid #000000; */
        font-family: 'MyCustomFont4' ;
    }


    .midle_info_submenu {
            font-family: 'Nintendo';
            font-style: normal;
            font-weight: 400;
            font-size: 15px;
            line-height: 20px;
            letter-spacing: 0.05em;
            color: #EAE4E4;
            margin-bottom: 10px;
    }

    .midle_info span {
            font-family: 'Nintendo';
            font-style: normal;
            font-weight: 800;
            font-size: 25px;
            line-height: 20px;
            /* letter-spacing: 0.05em;  */
            color: #EB3436;
    }

    .product-card {
            border: 1px solid #ccc;
            border-radius: 8px;
            overflow: hidden;
            width:auto ;
            height: 200px;
            text-align: left;
            padding-left: 5px;
            background: white;
            transition: transform 0.3s ease, box-shadow 0.3s ease;
    }

 
    .outer-shield {
      height: 150px; /* Размер внешнего контейнера */
      margin: 5px;
    }

    header {
      display:contents;
    }

    nav {
      margin-right: 0%;
      margin-left: 20px;
      margin-top: 90px;
    }
  
    nav a {
      
      margin-left: 10px;
      text-decoration: none;
      color: white;
      
    }

    .call_to_us {
      display: none;
    }

    .side-menu.active {
      /* right: 0px;
      left: 0px;  */
      top: 200px;
    }

}