.midle {
    margin-left: 20px;
    margin-right: 20px;

width: 876px;
height: 1143px;
background: rgba(58, 51, 51, 0.62);

}


.switch {
    font-family: 'MyCustomFont3';
    text-align: center;
    /* margin-left: 90px; */
/* width: 657px;
height: 155px; */
color: azure;
/* font-family: 'MuseoModerno-midle'; */
font-style: normal;
font-weight: 500;
font-size: 128px;
line-height: 204px;
letter-spacing: 0.05em;

}

.line {
   
    display: flex;
    flex-direction: row;

}

.line1 {
margin-left: 20px;
width: 51.97px;
height: 15.5px;
background: #177D93;
border-radius: 5px;
}


.line2   {
    margin-left: 20px;
width: 51.97px;
height: 15.5px;
background: #0A846F;
border-radius: 5px;
}


.line3   {
    margin-left: 20px;
width: 33.89px;
height: 15.5px;
background: #0A846F;
border-radius: 5px;
}


.line4   {
    margin-left: 20px;
width: 22px;
height: 15px;
background: #E7BE2C;
border-radius: 5px;
}

.midle_nintendo {
display: flex;
justify-content: center;

}

.midle_info {
    margin-top: 50px;
    margin-left: 30px;
    margin-bottom: 0px;
}

.midle_info span {
font-family: 'MuseoModerno';
font-style: normal;
font-weight: 800;
font-size: 36px;
line-height: 57px;
letter-spacing: 0.05em;
color: #EB3436;
}

.midle_info p {
font-family: 'MuseoModerno';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 0px;
letter-spacing: 0.05em;
color: #EAE4E4;
}

.midle_nintendo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.midle_nintendo_1 {
    width: 212px;
    height: 309px;
    background: #012830;
    border: 1px solid #000000;
    margin: 20px;
    margin-top: 70px;
}

.midle_nintendo_2 {
    width: 212px;
    height: 309px;
    background: #012830;
    border: 1px solid #000000;
    margin: 20px;
    margin-top: 70px;
}

.midle_nintendo_3 {
    width: 212px;
    height: 309px;
    background: #012830;
    border: 1px solid #000000;
    margin: 20px;
    margin-top: 70px;
}

.review_header {
    width: 144px;
    height: 40px;
    margin: 50px;
    font-family: 'Libre Bodoni';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
 
    /* identical to box height */
    letter-spacing: 0.05em;
    color: #D32626;
    
    }

.reviews {
display: flex;
justify-content: center;
margin-top: 50px;
}

.review1 {
width: 200px;
height: 100px;
border: 1px solid #D0A4A4;
margin-left: 60px;
color: azure;
}

.review2 {  
width: 300px;
height: 100px;
border: 1px solid #D0A4A4;
margin-left: 60px;
color: azure;
}

   


