.midle {
    margin-left: 20px;
    margin-right: 20px;

width: 700px;
/* height: 1143px; */
background: rgba(58, 51, 51, 0.62);

}


.switch {
    font-family: 'MyCustomFont3';
    text-align: center;
    line-height: 14px; /* Межстрочный интервал будет 24 пикселя */

    margin-top: -30px;
color: rgb(57, 163, 163);

font-style: normal;
font-weight: 500;
font-size: 110px;
line-height: 204px;
/* letter-spacing: 0.05em; */

}

.line {
   
    display: flex;
    flex-direction: row;

}

.line1 {
margin-left: 20px;
width: 51.97px;
height: 15.5px;
background: #177D93;
border-radius: 5px;
}


.line2   {
    margin-left: 20px;
width: 51.97px;
height: 15.5px;
background: #0A846F;
border-radius: 5px;
}


.line3   {
    margin-left: 20px;
width: 33.89px;
height: 15.5px;
background: #0A846F;
border-radius: 5px;
}


.line4   {
    margin-left: 20px;
width: 22px;
height: 15px;
background: #E7BE2C;
border-radius: 5px;
}

.midle_nintendo {
display: flex;
justify-content: center;

}

.midle_info {
    margin-top: 20px;
    margin-left: 50px;
    margin-bottom: 0px;
}

.midle_info span {
font-family: 'Nintendo';
font-style: normal;
font-weight: 800;
font-size: 30px;
line-height: 57px;
letter-spacing: 0.05em;
color: #EB3436;
}

.midle_info_submenu {
font-family: 'Nintendo';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 30px;
/* letter-spacing: 0.05em; */
color: #EAE4E4;
padding-bottom: 20px;
}

.midle_nintendo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    /* margin-top: 10px; */
    color: #EAE4E4;
}

.midle_nintendo p {

    color: #EAE4E4;
    margin: 20px;
    font-size: 12px;
    font-weight: 700;
}

.midle_nintendo_1 {
    background: url("Main_Content/Nintendo-Switch-Logo-Green.jpg");
    
    background-size: cover; /* Масштабирует изображение, чтобы оно покрывало весь контейнер */
    background-position: center; /* Центрирует изображение */
    width: 169px;
    height: 250px;
    /* background: #012830; */
    border: 1px solid #000000;
    margin-left: 40px;
    
     
}

.midle_nintendo_2 {
    background: url("Main_Content/Nintendo-Switch-Logo-Green.jpg");
    background-size: cover; /* Масштабирует изображение, чтобы оно покрывало весь контейнер */
    background-position: center; /* Центрирует изображение */
    width: 169px;
    height: 250px;
    /* background: #012830; */
    border: 1px solid #000000;
    margin-left: 40px;
    
    
}

.midle_nintendo_3 {
    background-image: url('Main_Content/Nintendo-Switch-Logo-Red.png');
    background-size: cover;
    background-position:top;
    width: 169px;
    height: 250px;
    /* background: #012830; */
    border: 1px solid #000000;
    margin-left: 40px;
    
    
}

.review_header {
    /* width: 144px; */
    height: 40px;
    margin-left: 50px;
    margin-top: -30px;
    /* margin-bottom: 90px; */
    font-family: 'Libre Bodoni';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
 
    /* identical to box height */
    letter-spacing: 0.05em;
    color: #D32626;
    
    }

.reviews {
display: flex;
flex-wrap: wrap;
justify-content: left;
font-size: 15px;
margin-top: 20px;
margin-bottom: 50px;
margin-left: 30px;
}

.review1 {
width: 200px;
height: 130px;
border: 1px solid #D0A4A4;
margin-left: 20px;
color: azure;
}

.review2 {  
width: 300px;
height: 130px;
border: 1px solid #D0A4A4;
margin-left: 20px;
color: azure;
}

   .midle_outer {
    display: flex;
    flex-direction: row;
    justify-content: center;
   }


