.outer-shield {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px; /* Размер внешнего контейнера */
    height: 300px; /* Размер внешнего контейнера */
    background-color: #1d1c1c; /* Темно-серый цвет */
    clip-path: polygon(0 0, 100% 0, 100% 75%, 50% 83%, 0 75%); /* Форма щита */
    margin: 20px;
    color: azure;
    text-align: center;
  }
  
  /* Внутренний контейнер */
  .inner-shield {
    width: 165px; /* В два раза меньше внешнего */
    height: 160px; /* В два раза меньше внешнего */
    /* background-color: white;  */
    clip-path: polygon(0 0, 100% 0, 100% 75%, 50% 90%, 0 75%); /* Форма щита */
    transform: translateY(-65px); /* Поднимаем внутренний блок вверх */
    background-image: url('Main_Content/Nintendo-Switch-Logo-Green.jpg');
    background-position: center;
    background-size: cover;
  }


  .inner-shield p {
    margin-top: 10px;
    color: aliceblue;
    font-size: 17px;
   }
  
   .inner-shield3 p {
    margin-top: 10px;
    color: aliceblue;
    font-size: 17px;
   }

  .inner-shield3 {
    width: 165px; /* В два раза меньше внешнего */
    height: 160px; /* В два раза меньше внешнего */
    /* background-color: white;  */
    clip-path: polygon(0 0, 100% 0, 100% 75%, 50% 90%, 0 75%); /* Форма щита */
    transform: translateY(-65px); /* Поднимаем внутренний блок вверх */
    background-image: url('Main_Content/Nintendo-Switch-Logo-Red.png');
    background-position: center;
    background-size: cover;
    /* margin-top: 10px; */

  }







/* Что это ? */
  
  /* header a:hover {
      font-size: 12px;
      font-family: MyCustomFont;
    margin: 0 10px;
    text-decoration: none;
    color: rgb(241, 205, 60);
    font-weight: bold;
  }
   */