body {
    margin: 0;
    font-family: MyCustomFont, sans-serif;
    background: url('./Main_Content/background.jpg') no-repeat center center fixed;
    background-size: cover;
    font-family: 'MyCustomFont', sans-serif; /* Укажите имя шрифта, заданное в font-family */

  }

  header {
    background: rgba(129, 128, 128, 0.3);
    margin-top: 40px ;
    color: white;
    padding: 7px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  nav {
    margin-right: 60px;
  }

  nav a {
    margin: 0 10px;
    margin-right: 20px;
    text-decoration: none;
    color: white;
  }

  header a {
    font-size: 12px;
    font-family: MyCustomFont;
  margin: 0 10px;
  text-decoration: none;
  color: rgb(231, 211, 211);
  font-weight: bold;
}

header a.sssd {
    font-size: 25px;
    font-family: MyCustomFont;
  margin: 0 10px;
  margin-right: 200px;
  text-decoration: none;
  color: rgb(231, 211, 211);
  font-weight: bold;
}

header a.sssd:hover {
    font-size: 25px;
    font-family: MyCustomFont;
  margin: 0 10px;
  text-decoration: none;
  color: rgb(241, 205, 60);
  font-weight: bold;
}

header a:hover {
    font-size: 12px;
    font-family: MyCustomFont;
  margin: 0 10px;
  text-decoration: none;
  color: rgb(241, 205, 60);
  font-weight: bold;
}

  

  footer {
    background: rgba(42, 157, 143, 0.3);
    
    padding: 10px;
    color: white;
    text-align: center;
    margin-bottom: 90px;
  }
  footer a {
  margin: 0 15px;
  margin-bottom: 90px;
  text-decoration: none;
  color: rgb(175, 232, 225);
}

footer a:hover {
  margin: 0 15px;
  text-decoration: none;
  color: rgb(241, 205, 60);
}



.prefooter {
  display: flex;
  flex-direction: row;
}

@font-face {
  font-family: 'MyCustomFont'; /* Имя шрифта, которое вы будете использовать */
  src: url('./Fonts/Inter-Thin.otf') format('opentype'); /* Путь к файлу шрифта */
  font-weight: normal; /* Опционально: можно указать вес */
  font-style: normal; /* Опционально: можно указать стиль (например, italic) */
}

@font-face {
  font-family: 'MyCustomFont1'; /* Имя шрифта, которое вы будете использовать */
  src: url('./Fonts/Montserrat-Regular.ttf') format('opentype'); /* Путь к файлу шрифта */
  font-weight: normal; /* Опционально: можно указать вес */
  font-style: normal; /* Опционально: можно указать стиль (например, italic) */
}



#type2 {
background: #66bb6a;
padding-bottom: 50px;
}
.btn-5 {
text-align: center;
display: inline-block;
padding: 15px 40px;
border: 1px solid #fff;
cursor: pointer;
letter-spacing: 2px;
position:relative;
overflow:hidden;
margin: 0 20px;
}

.btn-5:before {
content: "";
position: absolute;
height: 100%;
width: 0;
background : #fff;
left: 0;
bottom: 0;
transition: all .3s;
opacity: 0.3;
}

.btn-5:hover:before {
width: 100%;
}

/* Buton 5 Bitti */

.btn-6 {
text-align: center;
display: inline-block;
padding: 15px 40px;
border: 1px solid #fff;
cursor: pointer;
letter-spacing: 2px;
position:relative;
overflow:hidden;
margin: 0 20px;
}

.btn-6:before {
content: "";
position: absolute;
height: 100%;
width: 0;
background : #fff;
left: 100%;
bottom: 0;
transition: all .3s;
opacity: 0.3;
}

.btn-6:hover:before {
width: 100%;
left:0;
}

/* Buton 6 Bitti */

.btn-7 {
text-align: center;
display: inline-block;
padding: 15px 40px;
border: 1px solid #fff;
cursor: pointer;
letter-spacing: 2px;
position:relative;
overflow:hidden;
margin: 0 20px;
}

.btn-7:before {
content: "";
position: absolute;
height: 0;
width: 100%;
background : #fff;
left: 0;
top: 0;
transition: all .3s;
opacity: 0.3;
}

.btn-7:hover:before {
height: 100%;
}

/* Buton 7 Bitti */

.btn-8 {
text-align: center;
display: inline-block;
padding: 15px 40px;
border: 1px solid #fff;
cursor: pointer;
letter-spacing: 2px;
position:relative;
overflow:hidden;
margin: 0 20px;
}

.btn-8:before {
content: "";
position: absolute;
height: 0;
width: 100%;
background : #fff;
left: 0;
bottom: 0;
transition: all .3s;
opacity: 0.3;
}

.btn-8:hover:before {
height: 100%;
}