body {
    margin: 0;
    font-family: MyCustomFont, sans-serif;
    background: url('./Main_Content/background.jpg') no-repeat center center fixed;
    background-size: cover;
    font-family: 'MyCustomFont', sans-serif; /* Укажите имя шрифта, заданное в font-family */
    
  }

  .new_project {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }

  header {
    background: #5C1010;
    /* margin-top: 20px ; */
    color: white;
    padding: 7px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  nav {
    margin-right: 12%;
    margin-left: 20%;
  }

  nav a {
    margin: 0 10px;
    margin-right: 20px;
    text-decoration: none;
    color: white;
  }

  header a {
    font-size: 12px;
    font-family: MyCustomFont;
  margin: 0 10px;
  text-decoration: none;
  color: rgb(231, 211, 211);
  font-weight: bold;
}

  .sssd {
  margin-left: 15%;
/* width: 160px;
height: 76px; */
font-family: 'MyCustomFont3';
font-style: normal;
font-weight: 300;
font-size: 48px;
line-height: 76px;
letter-spacing: 0.05em;
color: #FFF8F8;

}


    /* Стили для кнопки звонка */
    .call-button {
      display: inline-block;
      padding: 15px 25px;
      font-size: 18px;
      font-weight: bold;
      color: #fff;
      background-color: #28a745; /* Зеленый цвет */
      border-radius: 50px; /* Закругленные углы */
      text-decoration: none;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
      transition: background-color 0.3s ease, transform 0.2s ease;
  }

  /* Стили при наведении на кнопку */
  .call-button:hover {
      background-color: #218838; /* Темно-зеленый цвет */
      transform: scale(1.05); /* Увеличение кнопки */
  }

  /* Стили при нажатии на кнопку */
  .call-button:active {
      background-color: #1e7e34; /* Еще темнее зеленый */
      transform: scale(0.95); /* Уменьшение кнопки */
  }

  /* Иконка телефона (опционально) */
  .call-button::before {
      content: "📞"; /* Иконка телефона */
      margin-right: 10px;
  }

  

  footer {
    background: rgba(42, 157, 143, 0.3);
    
    padding: 10px;
    color: white;
    text-align: center;
    margin-bottom: 90px;
  }
  footer a {
  margin: 0 15px;
  margin-bottom: 90px;
  text-decoration: none;
  color: rgb(175, 232, 225);
}

footer a:hover {
  margin: 0 15px;
  text-decoration: none;
  color: rgb(241, 205, 60);
}



.prefooter {
  display: flex;
  flex-direction: row;
}

@font-face {
  font-family: 'MyCustomFont'; /* Имя шрифта, которое вы будете использовать */
  src: url('./Fonts/Inter-Thin.otf') format('opentype'); /* Путь к файлу шрифта */
  font-weight: normal; /* Опционально: можно указать вес */
  font-style: normal; /* Опционально: можно указать стиль (например, italic) */
}

@font-face {
  font-family: 'MyCustomFont1'; /* Имя шрифта, которое вы будете использовать */
  src: url('./Fonts/Montserrat-Regular.ttf') format('opentype'); /* Путь к файлу шрифта */
  font-weight: normal; /* Опционально: можно указать вес */
  font-style: normal; /* Опционально: можно указать стиль (например, italic) */
}

@font-face {
  font-family: 'MyCustomFont3'; /* Имя шрифта, которое вы будете использовать */
  src: url('./Fonts/MuseoModerno-Medium.ttf') format('opentype'); /* Путь к файлу шрифта */
  font-weight: normal; /* Опционально: можно указать вес */
  font-style: normal; /* Опционально: можно указать стиль (например, italic) */
}

@font-face {
  font-family: 'MyCustomFont4'; /* Имя шрифта, которое вы будете использовать */
  src: url('./Fonts/PressStart2P-Regular.ttf') format('opentype'); /* Путь к файлу шрифта */
  font-weight: normal; /* Опционально: можно указать вес */
  font-style: normal; /* Опционально: можно указать стиль (например, italic) */
}

@font-face {
  font-family: 'Nintendo'; /* Имя шрифта, которое вы будете использовать */
  src: url('./Fonts/Nintendo_Switch_UI_Font.ttf') format('opentype'); /* Путь к файлу шрифта */
  font-weight: normal; /* Опционально: можно указать вес */
  font-style: normal; /* Опционально: можно указать стиль (например, italic) */
}


#type2 {
background: #66bb6a;
padding-bottom: 50px;
}

.prefooter {
  display: flex;
  flex-direction: row;
}

 .footer {
display: flex;
flex-wrap: wrap;
justify-content: center;
margin: 20px;
margin-top: 50px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 24px;
color: #210808;
}

    .foot1 { 
text-align: center;
margin: 20px;
width: 122px;
height: 40px;
background: rgb(211, 57, 60);
border: 3px solid #373030;
border-radius: 5px;
    }

    .foot2 {
text-align: center;
margin: 20px;
width: 155px;
height: 40px;
background: rgb(0, 120, 104);
border: 3px solid #373030;
border-radius: 5px;
    }

    .foot3 {
text-align: center;
margin: 20px;
width: 148px;
height: 40px;
background: rgb(201, 205, 220);
border: 3px solid #373030;
border-radius: 5px;
color: #060101;

    }

    .foot4 {
text-align: center;
margin: 20px;
width: 141px;
height: 40px;
background: rgb(75, 156, 232);
border: 3px solid #373030;
border-radius: 5px;
    }

   .call_to_us {
        
            position: fixed;
            top: 67%;
            left: 85%;
            width: 90%;
          
    }

    
