.outer-shield {
    /* display: flex; */
    justify-content: center;
    align-items: center;
    width: 180px; /* Размер внешнего контейнера */
    height: 300px; /* Размер внешнего контейнера */
    background-color: #1d1c1c; /* Темно-серый цвет */
    clip-path: polygon(0 0, 100% 0, 100% 75%, 50% 83%, 0 75%); /* Форма щита */
    margin: 20px;
    color: azure;
    text-align: center;
    z-index: 0;
  }
  
  /* Внутренний контейнер */
  .inner-shield {
    margin-left: 7px;

    margin-top: 7px;
    width: 165px; /* В два раза меньше внешнего */
    height: 160px; /* В два раза меньше внешнего */
    clip-path: polygon(0 0, 100% 0, 100% 75%, 50% 90%, 0 75%); /* Форма щита */
    /* transform: translateY(-65px);  */
    background-image: url('Main_Content/Nintendo-Switch-Logo-Green.jpg');
    background-position: center;
    background-size: cover;
    z-index: 2;
  }

  .inner-shield span {
   margin-left: -110px;
  }

  .outer-shield p {
    /* position:fixed; */
    margin-top: 0px;
    /* margin-left: 10px; */
    z-index: 100;
  }





  .inner-shield3 {
    margin-left: 7px;

    margin-top: 7px;
    width: 165px; /* В два раза меньше внешнего */
    height: 160px; /* В два раза меньше внешнего */
    clip-path: polygon(0 0, 100% 0, 100% 75%, 50% 90%, 0 75%); /* Форма щита */
    /* transform: translateY(-65px);  */
    background-image: url('Main_Content/Nintendo-Switch-Logo-Red.png');
    background-position: center;
    background-size: cover;
   

  }

  .inner-shield3 span {
    margin-left: -110px;
   }





